.form-container {
  display: none;
  position: sticky;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  bottom: 10px;
  top: 10px;
}

.task-form {
  padding: 20px;
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  min-width: 800px;
  opacity: 90%;
}

.left-container {
  width: 400px;
}
.task-input,
.description-input {
  width: 100%;
  margin: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
}

.task-input {
  font-size: 24px;
}

.log-hours {
  height: 100%;
}

.submit-btn {
  padding: 10px;
  height: 50px;
  border-radius: 2px;
}

.log-hours {
  background-color: inherit;
  border: none;
  color: white;
  font-size: 24px;
  margin: 10px;
  text-align-last: center;
}

.date {
  background-color: inherit;
  border: none;
  color: white;
  font-size: 20px;
  width: 230px;
  margin: 20px;
}

.custom-select {
  position: relative;
  font-family: Arial;
  width: 250px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
  width: 250px;
}

.log-hours {
  background-color: inherit;
}

.log-hours:focus-within {
  opacity: 70%;
}
/*style the items (options), including the selected item:*/
.select-items div,
.log-hours {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  background-color: black;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: black;
  bottom: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  text-align: center;
}

.select-items.flip {
  position: absolute;
  background-color: black;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  text-align: center;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(131, 131, 131, 0.1);
}

.select-items.flip div:hover,
.same-as-selected {
  background-color: rgb(20, 20, 20);
}
.custom-select:focus-within {
  opacity: 70%;
}

.hide-form {
  position: fixed;
  right: 50px;
  bottom: 50px;
  border: none;
  background-color: transparent;
  font-size: 50px;
  color: white;
  cursor: pointer;
  opacity: 60%;
}

.hide-form:hover {
  transition: opacity 0.5s ease-out;
  opacity: 100%;
}

.hide-form:focus {
  outline: none;
}
