* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #242424, #3f3f3f);
  min-height: 100vh;
  color: white;
}

.main-container {
  padding-bottom: 100px;
}

.splash-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
}

.splash-page h1 {
  font-size: 120px;
  font-family: "Spartan", sans-serif;
  text-align: center;
}

.goal-container {
  text-align: center;
}

.goal {
  font-size: 60px;
  font-family: "Spartan", sans-serif;
}

.goal-input {
  width: 70%;
  font-size: 60px;
  background-color: none;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
  text-align: center;
}

.goal-input.hide {
  display: none;
}

input:focus,
input:active {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.error-container.show {
  display: flex;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);

  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  opacity: 65%;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
}

.progress-bar {
  position: fixed;
  margin: 70px 50px;
  height: 80%;
  width: 30px;
  background-color: rgb(161, 161, 161);
  border-radius: 20px;
  box-shadow: 0.5px 0.5px 3px 3px #272727;
}

.amount-completed {
  position: absolute;
  bottom: 0;
  height: 0%;
  width: 30px;
  background-color: #414141;
  border-radius: 20px;
  opacity: 80%;
}

.total-hours {
  position: relative;
  font-size: 24px;
  bottom: 40px;
  right: 20px;
  font-family: "Spartan", sans-serif;
}

.to-hundred {
  position: absolute;
  bottom: -35px;
  left: -10px;
}

.skill-level {
  font-size: 24px;
  position: fixed;
  right: 20px;
  top: 20px;
}

.quote-container {
  position: absolute;
  left: 50%;
  text-align: center;
  padding-top: 20px;
  transform: translate(-50%);
  font-family: "Source Sans Pro", sans-serif;
}

.author {
  font-size: 14px;
  margin-top: 5px;
}

.hide {
  display: none;
}

.help {
  position: fixed;
  left: 50px;
  bottom: 30px;
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.help-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  padding: 10px 10px;
  border-radius: 5px;
  left: 110px;
  bottom: 30px;
  font-size: 14px;
}

.help-container p,
.help-container h3 {
  font-family: "Source Sans Pro", sans-serif;
}
.help-container h3 {
  font-weight: 1000;
}

.skill-info {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  right: 10px;
  top: 60px;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: normal;
}

.skill-info p {
  font-size: 12px;
}
