.task-list {
  width: 50%;
  margin: 0 auto;

  color: black;
}

.task-content {
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}

.task-hours {
  font-size: 24px;
  margin: 15px;
}

.task-right-container {
  align-self: center;
}
