.task-list {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
}

.task-content {
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}

.task-hours {
  font-size: 24px;
}
